<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Fundamentos de Aprendizado de Máquina
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Teoria;</li>
  <li>Atributos categóricos;</li>
  <li>Atributos numéricos;</li>
  <li>Dados faltantes.</li>
</ol>

---

# **Exercícios**

## 1\. Pinguins

Neste exercício, vamos utilizar uma base de dados com informações sobre penguins. A idéia é preparar a base de dados para prever a espécie do penguin (variável resposta) baseado em suas características físicas e geográficas (variáveis preditivas).

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = sns.load_dataset('penguins')

In [3]:
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

### **1.1. Valores nulos**

A base de dados possui valores faltantes, utilize os conceitos da aula para trata-los.

In [4]:
#transformando em arrays
blm = np.array(data['bill_length_mm'].dropna().astype(float).tolist())
bdm = np.array(data['bill_depth_mm'].dropna().astype(float).tolist())
flm = np.array(data['flipper_length_mm'].dropna().astype(float).tolist())
bmg = np.array(data['body_mass_g'].dropna().astype(float).tolist())
#calculando a média
blm_m = float(f"{np.mean(blm):.1f}")
bdm_m = float(f"{np.mean(bdm):.1f}")
flm_m = float(f"{np.mean(flm):.1f}")
bmg_m = float(f"{np.mean(bmg):.1f}")
#aplicando a média nos valores nulos em atributos numericos
data['bill_length_mm'] = data['bill_length_mm'].apply(lambda b: b if pd.notnull(b) else blm_m)
data['bill_depth_mm'] = data['bill_depth_mm'].apply(lambda b: b if pd.notnull(b) else bdm_m)
data['flipper_length_mm'] = data['flipper_length_mm'].apply(lambda b: b if pd.notnull(b) else flm_m)
data['body_mass_g'] = data['body_mass_g'].apply(lambda b: b if pd.notnull(b) else bmg_m)
#retirando valores nulos nos atributos categoricos restantes
data.dropna(inplace=True)

data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

### **1.2. Variáveis numéricas**

Identifique as variáveis numéricas e crie uma nova coluna **padronizando** seus valores. A nova coluna deve ter o mesmo nome da coluna original acrescidade de "*_std*".

> **Nota**: Você não deve tratar a variável resposta.

In [5]:
data['bill_length_mm_std'] = data['bill_length_mm'].apply(lambda x: (x - data['bill_length_mm'].mean()) / data['bill_length_mm'].std())
data['bill_depth_mm_std'] = data['bill_depth_mm'].apply(lambda x: (x - data['bill_depth_mm'].mean()) / data['bill_depth_mm'].std())
data['flipper_length_mm_std'] = data['flipper_length_mm'].apply(lambda x: (x - data['flipper_length_mm'].mean()) / data['flipper_length_mm'].std())
#data['body_mass_g_std'] = data['body_mass_g'].apply(lambda x: (x - data['body_mass_g'].mean()) / data['body_mass_g'].std())
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_length_mm_std,bill_depth_mm_std,flipper_length_mm_std,body_mass_g_std
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,-0.894695,0.779559,-1.424608,-0.567621
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,-0.821552,0.119404,-1.067867,-0.505525
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,-0.675264,0.424091,-0.425733,-1.188572
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,-1.333559,1.084246,-0.568429,-0.940192
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,-0.858123,1.744400,-0.782474,-0.691811

### **1.3. Variáveis categóricas**

Identifique as variáveis categóricas nominais e ordinais, crie uma nova coluna aplicando a técnica correta de conversão a seus valores. A nova coluna deve ter o mesmo nome da coluna original acrescidade de "*_nom*" ou "*_ord*".

> **Nota**: Você não deve tratar a variável resposta.

In [6]:
data['sex_m'] = data['sex'].apply(lambda sex: 1 if sex == 'Male' else 0)
data['sex_f'] = data['sex'].apply(lambda sex: 1 if sex == 'Female' else 0)

data['island_torgersen'] = data['island'].apply(lambda island: 1 if island == 'Torgersen' else 0)
data['island_biscoe'] = data['island'].apply(lambda island: 1 if island == 'Biscoe' else 0)
data['island_dream'] = data['island'].apply(lambda island: 1 if island == 'Dream' else 0)
data['specie_adelie'] = data['species'].apply(lambda specie: 1 if specie == 'Adelie' else 0)
data['specie_chinstrap'] = data['species'].apply(lambda specie: 1 if specie == 'Chinstrap' else 0)
data['specie_gentoo'] = data['species'].apply(lambda specie: 1 if specie == 'Gentoo' else 0)

data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_length_mm_std,bill_depth_mm_std,flipper_length_mm_std,body_mass_g_std,sex_m,sex_f,island_torgersen,island_biscoe,island_dream,specie_adelie,specie_chinstrap,specie_gentoo
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,-0.894695,0.779559,-1.424608,-0.567621,1,0,1,0,0,1,0,0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,-0.821552,0.119404,-1.067867,-0.505525,0,1,1,0,0,1,0,0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,-0.675264,0.424091,-0.425733,-1.188572,0,1,1,0,0,1,0,0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,-1.333559,1.084246,-0.568429,-0.940192,0,1,1,0,0,1,0,0
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,-0.858123,1.744400,-0.782474,-0.691811,1,0,1,0,0,1,0,0

### **1.4. Limpeza**

Descarte as colunas originais e mantenha apenas a variável resposta e as variáveis preditivas com o sufixo *_std*", *_nom*" e "*_ord*".

In [7]:
data.drop(data.columns[[0,1,2,3,4,6]], axis=1, inplace=True)
data.head()

,bill_length_mm_std,bill_depth_mm_std,flipper_length_mm_std,body_mass_g_std,sex_m,sex_f,island_torgersen,island_biscoe,island_dream,specie_adelie,specie_chinstrap,specie_gentoo
0,-0.894695,0.779559,-1.424608,-0.567621,1,0,1,0,0,1,0,0
1,-0.821552,0.119404,-1.067867,-0.505525,0,1,1,0,0,1,0,0
2,-0.675264,0.424091,-0.425733,-1.188572,0,1,1,0,0,1,0,0
4,-1.333559,1.084246,-0.568429,-0.940192,0,1,1,0,0,1,0,0
5,-0.858123,1.744400,-0.782474,-0.691811,1,0,1,0,0,1,0,0

---